* {
    margin-left: 8vw;
  }

body{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    
}

#instructions{
 background-color: aliceblue;
 width:600px;
 margin-left: 0;
 position: absolute;
 margin-top: 670px;
 color: black;
 background-color: yellow;
}



#game-over-canvas{
    display: none;
    background-color: black;
}
#canvas-project {
    display: none;
}


  